@model MVCMensa3.Models.BestellungViewModel
@{
    ViewBag.Title = "Bestellungen";
    decimal preisSum = 0m;
}

@using (Html.BeginForm("Index", "Bestellung", FormMethod.Post))
{
    <div class="alert alert-error">
        @Html.ValidationSummary(true, "Fehler: ", new { @class = "text-danger" })
        @Model.Message
    </div>
    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Mahlzeit</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Gesamtpreis</th>
        </tr>
        @for (int i = 0; i < Model.Bestellungen.Count(); ++i)
        {
           
                preisSum += Model.Bestellungen[i].Preis * Model.Bestellungen[i].Anzahl;
            
            <tr>
                <td>
                    @Html.ValueFor(m => m.Bestellungen[i].ID)
                    @Html.HiddenFor(m => m.Bestellungen[i].ID)
                </td>
                <td>
                    @Html.ValueFor(m => m.Bestellungen[i].Name)
                    @Html.HiddenFor(m => m.Bestellungen[i].Name)
                </td>
                <td>
                    @Html.ValueFor(m => m.Bestellungen[i].Preis) €
                    @Html.HiddenFor(m => m.Bestellungen[i].Preis)
                </td>
                <td>
                    @Html.EditorFor(m => m.Bestellungen[i].Anzahl, new { htmlAttributes = new { type = "number", min = "0", max = "10", @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Bestellungen[i].Anzahl, "", new { @class = "text-danger" })
                </td>
                <td>
                    @(Model.Bestellungen[i].Preis * Model.Bestellungen[i].Anzahl) €
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ActionLink("Alle loeschen", "Loeschen", "Bestellung", null, null)
            </td>
            <td>
                <button type="submit" class="btn btn-default">Aenderung uebernehmen</button>
            </td>
            <td>
                Diese Bestellung kostet
            </td>
            <td>
                @preisSum €
            </td>
        </tr>
    </table>

    <div class="row">
        <p>
            Wann kommen Sie das Essen abholen?
            @Html.EditorFor(m => m.AbholZeit)
            @Html.ValidationMessageFor(m => m.AbholZeit, "", new { @class = "text-danger"})
        </p>

        <button type="submit" formaction="@Url.Action("Complete", "Bestellung")" class="btn btn-default btn-lg">Kostenpflichtig vorbestellen</button>
    </div>

}