@model MVCMensa3.Models.BestellungViewModel
@{
    ViewBag.Title = "Bestellungen";
    decimal preisSum = 0m;
    var zeitList = MVCMensa3.Models.BestellungViewModel.GenerateTimes();
}

@if (Model.Bestellungen.Count == 0)
{
    <div class="alert alert-info">
        <p>
            Sie haben nichts in ihren Warenkorb.
            Klicken sie @Html.ActionLink("hier", "Index", "Produkt") um Produkte zu bestellen.
        </p>
    </div>
}
else
{
    using (Html.BeginForm("Index", "Bestellung", FormMethod.Post))
    {
    <div class="alert alert-error">
        <p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Model.Message
        </p>
    </div>
    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Mahlzeit</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Gesamtpreis</th>
        </tr>
        @for (int i = 0; i < Model.Bestellungen.Count(); ++i)
        {

            preisSum += Model.Bestellungen[i].Preis * Model.Bestellungen[i].Anzahl;

            <tr>
                <td>
                    @Html.ValueFor(m => m.Bestellungen[i].ID)
                    @Html.HiddenFor(m => m.Bestellungen[i].ID)
                </td>
                <td>
                    @Html.ValueFor(m => m.Bestellungen[i].Name)
                    @Html.HiddenFor(m => m.Bestellungen[i].Name)
                </td>
                <td>
                    @Html.ValueFor(m => m.Bestellungen[i].Preis) €
                    @Html.HiddenFor(m => m.Bestellungen[i].Preis)
                </td>
                <td>
                    @Html.EditorFor(m => m.Bestellungen[i].Anzahl, new { htmlAttributes = new { type = "number", min = "0", max = "10", @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Bestellungen[i].Anzahl, "", new { @class = "text-danger" })
                </td>
                <td>
                    @(Model.Bestellungen[i].Preis * Model.Bestellungen[i].Anzahl) €
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ActionLink("Alle loeschen", "Loeschen", "Bestellung", null, null)
            </td>
            <td>
                <button type="submit" class="btn btn-default">Aenderung uebernehmen</button>
            </td>
            <td colspan="2">
                Diese Bestellung kostet
            </td>
            <td>
                @preisSum €
            </td>
        </tr>
    </table>

    <div class="row mx-auto mt-4">
        <div class="col-md-9">
            <p>
                <div class="col-md-6">
                    Wann kommen Sie das Essen abholen?
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.AbholZeit, MVCMensa3.Models.BestellungViewModel.GenerateTimes().Select(x => new SelectListItem { Text = x, Value = x }), new { @class = "form form-control" })
                    @Html.ValidationMessageFor(m => m.AbholZeit, "", new { @class = "text-danger" })
                </div>
            </p>
        </div>
        <div class="col-md-3">
            <button type="submit" formaction="@Url.Action("Complete", "Bestellung")" class="btn btn-primary btn-lg">Kostenpflichtig vorbestellen</button>
        </div>
    </div>

    }
}