@helper MakeBestellungRow(int index, MVCMensa3.Models.BestellungViewModel bestellung)
    {
    <tr>
        <td>
            @bestellung.Bestellungen.ElementAt(index).ID
        </td>
        <td>
            @bestellung.Bestellungen.ElementAt(index).Name
        </td>
        <td>
            @bestellung.Bestellungen.ElementAt(index).Preis €
        </td>
        <td>
            @bestellung.Bestellungen.ElementAt(index).Anzahl
        </td>
        <td>
            @(bestellung.Bestellungen.ElementAt(index).Preis * bestellung.Bestellungen.ElementAt(index).Anzahl) €
        </td>
    </tr>
    }